* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0392bf;
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: absolute;
  color: ghostwhite;
}
.footer {
  background-color: rgb(216, 227, 236);
  padding: 10px;
  width: 4rem;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  justify-content: space-between;
}

.middle {
  width: 60%;
  padding-top: 30px;
}

.img {
  text-align: center;
  padding-top: 100px;
  position: relative;
  font-weight: bold;
}

.img-text {
  font-size: 50px;
  padding-left: 140px;
  position: absolute;
  margin-top: -60px;
  letter-spacing: 0.5rem;
  line-height: 3.5rem;
}

.img-text2 {
  padding-left: 150px;
}

.hamburger {
  font-size: 1.5rem;
  margin-left: 100px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.top-nav {
  width: 80%;
  /* margin: 10px auto; */
  margin-left: 7rem;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav li {
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.1rem;
  opacity: 0.9;
  padding: 5px;
}
.top-nav li a:hover,
nav > div > i:hover {
  color: lightgray;
}

nav div i {
  cursor: pointer;
}

.right-end {
  width: 35%;
  padding-top: 30px;
}

.skate-img {
  height: 350px;
  width: 310px;
}

a {
  text-decoration: none;
  color: ghostwhite;
}
.text {
  color: ghostwhite;
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 15px;
  padding-right: 10px;
}
.dummy-text {
  font-size: 15px;
  opacity: 0.9;
  color: ghostwhite;
}
.cart {
  float: right;
  font-size: 17px;
  padding-bottom: 100px;
  cursor: pointer;
}
.star {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.rating {
  opacity: 0.9;
}

#more {
  text-decoration: underline;
  font-size: 13px;
  padding-top: 5px;
}
.add {
  margin-top: 30px;
  background-color: #ed48ba;
  padding: 8px;
  width: 50%;
  border: none;
  font-size: 17px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.color {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: -20px;
}
.color span {
  margin-right: 10px;
}
#sizes {
  background-color: #0392bf;
  padding: 5px 40px;
  border: 1px solid rgb(209, 202, 202);
  border-radius: 5px;
  font-size: 15px;
}
.size {
  margin-right: 30px;
  font-size: 20px;
}
.logo {
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
}
.media {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.media i {
  padding: 10px auto;
  margin: 10px auto;
}

/* Screens below 541 and above 850px */

@media only screen and (min-width: 541px) and (max-width: 850px) {
  .footer {
    position: fixed;
  }

  .top-nav {
    display: none;
    margin-top: 1rem;
    margin-left: 200px;
    font-size: 15px;
  }

  .top-nav li {
    font-size: 13px;
  }

  .top-nav li:hover {
    color: lightgray;
  }

  .top-nav.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    margin-left: 100px;
  }

  .right-end {
    width: 100%;
    margin-left: -200px;
    margin-right: 100px;
  }

  .skate-img {
    text-align: center;
    margin-left: 200px;
    height: 290px;
    width: 250px;
  }

  .star {
    display: flex;
    margin-top: 600px;
    width: 100%;
  }

  .dummy-text {
    font-size: 14px;
    width: 100%;
    text-justify: auto;
  }

  .img {
    text-align: center;
    margin: auto;
  }

  .img-text {
    margin-top: 5px;
    margin-left: 50px;
  }

  .rating {
    display: flex;
    padding: 0.5rem;
  }

  .text {
    font-size: 18px;
  }

  #sizes {
    width: 70%;
    font-size: 14px;
  }

  .add {
    margin-bottom: 2rem;
  }
}

/* Screens below 960px but above 850px */

@media only screen and (max-width: 960px) {
  .footer {
    position: fixed;
    width: 4rem;
  }

  .top-nav {
    display: none;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
  }

  .top-nav.show {
    display: flex;
  }

  .top-nav li {
    font-size: 13px;
  }

  .top-nav li:hover {
    color: lightgray;
  }

  .hamburger {
    display: block;
  }

  .dummy-text {
    font-size: 14px;
    width: 100%;
  }

  .rating {
    display: flex;
    padding: 0.5rem;
  }

  .text {
    font-size: 17px;
  }

  #sizes {
    width: 70%;
    font-size: 14px;
  }

  .add {
    margin-bottom: 2rem;
  }
}
