* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0392bf;
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: absolute;
  color: ghostwhite;
}
.footer {
  background-color: rgb(216, 227, 236);
  padding: 10px;
  width: 4rem;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  justify-content: space-between;
}

.middle {
  width: 60%;
  padding-top: 30px;
}

.img {
  text-align: center;
  padding-top: 100px;
  position: relative;
  font-weight: bold;
}

.img-text {
  font-size: 50px;
  padding-left: 140px;
  position: absolute;
  margin-top: -60px;
  letter-spacing: 0.5rem;
  line-height: 3.5rem;
}

.img-text2 {
  padding-left: 150px;
}

.hamburger {
  font-size: 1.5rem;
  margin-left: 100px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.top-nav {
  width: 80%;
  /* margin: 10px auto; */
  margin-left: 7rem;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav li {
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.1rem;
  opacity: 0.9;
  padding: 5px;
}
.top-nav li a:hover,
nav > div > i:hover {
  color: lightgray;
}

nav div i {
  cursor: pointer;
}

.right-end {
  width: 35%;
  padding-top: 30px;
}

.skate-img {
  height: 350px;
  width: 310px;
}

a {
  text-decoration: none;
  color: ghostwhite;
}
.text {
  color: ghostwhite;
  font-weight: normal;
  font-size: 25px;
  padding-bottom: 15px;
  padding-right: 10px;
}
.dummy-text {
  font-size: 15px;
  opacity: 0.9;
  color: ghostwhite;
}
.cart {
  float: right;
  font-size: 17px;
  padding-bottom: 100px;
  cursor: pointer;
}
.star {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.rating {
  opacity: 0.9;
}

#more {
  text-decoration: underline;
  font-size: 13px;
  padding-top: 5px;
}
.add {
  margin-top: 30px;
  background-color: #ed48ba;
  padding: 8px;
  width: 50%;
  border: none;
  font-size: 17px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.color {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: -20px;
}
.color span {
  margin-right: 10px;
}
#sizes {
  background-color: #0392bf;
  padding: 5px 40px;
  border: 1px solid rgb(209, 202, 202);
  border-radius: 5px;
  font-size: 15px;
}
.size {
  margin-right: 30px;
  font-size: 20px;
}
.logo {
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
}
.media {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.media i {
  padding: 10px auto;
  margin: 10px auto;
}

/* Screens above 541 and below 960px */

@media only screen and (min-width: 541px) and (max-width: 960px) {
  .footer {
    position: fixed;
    width:10rem;
  }

  .top-nav {
    display: none;
    margin-top: 1rem;
    margin-left: 200px;
    font-size: 15px;
  }

  .top-nav li {
    font-size: 13px;
  }

  .top-nav li:hover {
    color: lightgray;
  }

  .top-nav.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    margin-left: 100px;
  }

  .right-end {
    width: 100%;
    margin-left: -200px;
    margin-right: 100px;
  }

  .skate-img {
    text-align: center;
    margin-left: 40vw;
    height: 290px;
    width: 250px;
  }

  .star {
    display: flex;
    margin-top: 600px;
    width: 100%;
  }

  .dummy-text {
    font-size: 14px;
    width: 100%;
    text-justify: auto;
  }

  .img {
    text-align: center;
    margin: auto;
  }

  .img-text {
    margin-top: 5px;
    margin-left: 35vw;
    width: fit-content;
    padding: 0;
  }

  .rating {
    display: flex;
    padding: 0.5rem;
  }

  .text {
    font-size: 18px;
  }

  #sizes {
    width: 70%;
    font-size: 14px;
  }

  .add {
    margin-bottom: 2rem;
  }
  .logo{
    padding:5px;
  }
}

/* Screens below 960px but above 850px */

@media only screen and (max-width: 960px) {
  .footer {
    position: fixed;
    width: 3rem;
  }

  .top-nav {
    display: none;
    flex-direction: row;
    width: fit-content;
    margin-top: 1rem;
    margin-left: 100px;
  }

  .top-nav.show {
    position: absolute;
    display: block;
  }

  .top-nav li {
    font-size: 20px;
  }

  .top-nav li:hover {
    color: lightgray;
  }

  .hamburger {
    display: block;
  }

  .dummy-text {
    font-size: 14px;
    width: 100%;
  }

  .rating {
    display: flex;
    padding: 0.5rem;
  }

  .text {
    font-size: 17px;
  }

  #sizes {
    width: 70%;
    font-size: 14px;
  }

  .add {
    margin-bottom: 2rem;
  }
}

/*For mobile view*/
@media only screen and (max-width:541px){
  .footer {
    position: fixed;
  }

  .top-nav {
    display: none;
    margin-top: 1rem;
    margin-left: 55px;
    width:fit-content;
  }

  .top-nav li {
    font-size: 16px;
  }


  .top-nav.show {
    position: absolute;
    display: block;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    margin-left: 70px;

  }

  .right-end {
    width: 100%;
    margin-left:-36vw;
    margin-top:600px;
    
  }

  .skate-img {
  margin-top:-50px;
  }
  #image{
    margin-top:0px;
    margin-left:130px;
    width:100%;
  }
  .img {
    text-align: center;
    margin: auto;
  }
  .img-text{
    margin-top:-20px;
    text-align: left;
    padding-left:30px;
    width:fit-content;

  }
  .img-text1{
    font-size: 35px;

  }
  .img-text2{
    padding-left:50px;
    font-size: 35px;
    margin-top: -20px;
  }
  .logo{
    font-size: 10px;
  }
  .cart{
    position: absolute;
    right:1vw;
    top:40px;
  }
  #sizes {
    width: 60%;
    font-size: 14px;
  }

}